.section-contact{
    background-color:darkslategray;
    margin-top:3%;
}

.container-row{
    padding-top: 3%;;
}

.contact-h5{
    justify-content: center;
    color:white;
    font-size: 1.4rem;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.contact-p2{
    justify-content: center;
    color:white;
    font-size: 0.8rem;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
